.esriLegendServiceLabel {
  font-size: 14px;
}
.esriLegendLayer{
  font-size: 12px;
}

#widgets_Legend_Widget_16 {
    position: relative;
    right: 0px !important;
    top:  0px !important;
    left: auto !important;
    bottom: auto !important;
}